<div>
  <h1 class="font-bold text-4xl">Brag#index</h1>
  <p>Find me in app/views/brag/index.html.erb</p>
  <div class="flex gap-4 mt-8">
    <%= link_to "Back", root_path, class: "bg-blue-700 hover:bg-blue-800 text-white font-semibold py-2 px-6 rounded-lg transition" %>
  </div>
</div>
